button {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    padding: 4px 4px;
}

.active-dislike {
    background-color: rgb(243, 93, 93);
}

.inactive-dislike {
    background-color: lightgrey;
}
