button {
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    padding: 4px 4px;
}

.active-like {
    background-color: lightgreen;
}

.inactive-like {
    background-color: lightgrey;
}
